#RootNode {
    -fx-padding: 10px;
    -fx-background-image: url("/image/background.jpg");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat; 
}




.button {
    -fx-text-fill: white;
    -fx-font-family: "Agency FB";
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-color: linear-gradient(rgb(50,50,50), #000000);
}

.button:hover {

    -fx-background-color: linear-gradient(#000000,rgb(50,50,50) );
    -fx-effect: dropshadow( three-pass-box , rgb(255,255,255) , 5, 0.0 , 0 , 1 );
}
















